/* ====== imported fonts ====== */
/* testing these fonts and will choose 2 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap'); /* for titles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500&display=swap');

:root {
    /* ====== Paddings & margins ====== */
    --section-padding: 2rem .8rem 2rem;
    --m-1-5: 1.5rem;
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ====== Font & typography ====== */
    --font-test1: 'Playfair Display', serif; /* for titles */
    --font-test2: 'Poppins', sans-serif;
    --font-test3: 'Roboto', sans-serif;
    --font-test4: 'Archivo Narrow', sans-serif;
    --font-test5: 'Domine', serif; /* body text */

    /* ====== Fonts/icons size ====== */
    --font-size: .94rem;
    --font-icon: 1.15rem;
    --font-smaller: .81rem;
    --font-large: 1.15rem;
    --title-h1: 1.5rem;
    --title-h2: 1.25rem;

    /* ====== colors font/border/icons ====== */
    --body-bg: #FDD245;
    --font-clr-dark: rgb(16, 12, 8);
    --font-clr-light: rgb(245, 237, 237);

    --PURPLE: #9654D8 ;
    --ORANGE: #FFB001;
    --dark-ORANGE: #fd5800;

    --btn-hover-clr: #9c5fda;

    --caption4: #080808;

}

/* ====== Base CSS ====== */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg);
    font-size: var(--font-size);
    font-family: var(--font-test3);
    font-weight: 300;
    color: var(--font-clr-dark);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: var(--title-h2);
    text-align: center;
    line-height: 1.1;
    color: var(--PURPLE);
    margin-bottom: var(--mb-0-75);
}

/* ====== reusable CSS ====== */
.main {
    max-width: 64rem;
    margin: 0 auto;
}

.fig-babado {
    z-index: 20;
}

.section-hero {
    padding: 1rem .8rem 3rem;
}
.section__padding {
    padding: var(--section-padding);
}

.list__margin li {
    margin-bottom: var(--mb-0-75);
}

.CTA-link {
    display: flex;
    gap: .8rem;
    align-items: center;
    align-self: center;
    background-color: var(--PURPLE);
    color: var(--font-clr-light);
    font-weight: bold;
    padding: .8rem 1.45rem;
    border-radius: .85rem;
    margin-top: .5rem;
}
.CTA-link:hover,
.bottom-CTA-btn:hover {
background: var(--btn-hover-clr);
}
.CTA-link:hover .btn-icon,
.bottom-CTA-btn:hover .btn-icon {
    transform: rotate(-25deg) translateX(8px);
}

/* ====== Custom CSS ====== */

.hero__section-h1 {
    font-family: var(--font-test2);
    font-size: var(--title-h1);
    padding-bottom: var(--mb-2);
    text-align: center;
    color: var(--PURPLE);
    font-weight: 600;
}

.figure-container {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--mb-2);
}

.fig-babado-container {
    order: -1;
}

.hero__content-figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-reels {
    margin-bottom: var(--mb-0-75);
    width: 100%;
}

.hero__section-article {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.icon-check {
    color: var(--PURPLE);
}
.icon-check,
.icon-target {
    font-size: var(--font-icon);
    margin-right: .6rem;
}

.icon-target {
    color: var(--dark-ORANGE);
}

.list__margin li {
    display: flex;
}

.figcaption {
    font-weight: 600;
    font-size: var(--font-smaller);
    margin-bottom: var(--mb-0-75);
    color: var(--caption4);
}

.fig-babado-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--mb-2);
}
.programacao {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-weight: 400;
    width: 300px;
}

.date-time {
    margin-top: 1rem;
}

.programacao-info {
    line-height: .7;
    font-size: 1.1rem;
}

.section-chamado {
    position: relative;
    background-color: var(--PURPLE);
}

.section-chamado h2 {
    text-align: left;
}
.section-chamado p {
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: var(--mb-2);
}
.section-chamado h2,
.section-chamado p {
    color: var(--font-clr-light);
}


.section-target h2 {
    text-transform: uppercase;
}

.section-swipper {
    position: relative;
    padding-bottom: 2rem;
}

.about-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1rem;
}

.img-criadora {
    width: 160px;
}

.about-content .about-content-blocks{
    margin-bottom: var(--mb-1);
}

.about-article p,
.bottom-CTA-info p {
    line-height: 1.3;
    margin-bottom: var(--mb-0-5);
}

.bottom-CTA {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    background-color: var(--ORANGE);
    padding: 2rem 1rem;
    color: var(--font-clr-dark);
    position: relative;
}
.bottom-CTA-info {
    font-weight: 400;
    margin-bottom: var(--mb-2);
    font-size: 1.1rem;
}

.bottom-CTA-btn {
    display: flex;
    gap: .8rem;
    align-items: center;
    align-self: center;
    font-weight: bold;
    padding: .8rem 1.1rem;
    border-radius: .85rem;
    background-color: var(--PURPLE);
    font-size: 1.1rem;
    color: var(--font-clr-light);
    margin-bottom: var(--mb-3);
}

footer {
    text-align: center;
    padding: 2rem 1.2rem;
    background-color: var(--PURPLE);
    color: var(--font-clr-light);
}

/*======  wave shape */
.custom-shape-divider-bottom-1660569740 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660569740 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1660569740 .shape-fill {
    fill: #FDD245;
}

/* ====== second wave shape ====== */
.custom-shape-divider-bottom-1660577265 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660577265 svg {
    position: relative;
    display: block;
    width: calc(260% + 1.3px);
    height: 373px;
}

.custom-shape-divider-bottom-1660577265 .shape-fill {
    fill: var(--ORANGE);
}

/* 333333333 */
.custom-shape-divider-bottom-1660569750 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660569750 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1660569750 .shape-fill {
    fill: #9654D8;
}

/* ====== profile border animation ====== */
.img-outer-circle {
    position: relative;
    width: 140px;
    height: 140px;
    background: --PURPLE;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-0-25);
}

.img-outer-circle::before {
    content: '';
    position: absolute;
    inset: 0 40px;
    background: var(--ORANGE)   ;
    transition: .6s;
    animation: animate 6s linear infinite;
}

.img-outer-circle:hover::before {
    inset: 0;
}

.img-outer-circle::after {
    content: '';
    position: absolute;
    inset: 40px;
    background: var(--body-bg);
    border-radius: 50%;
    z-index: 1;
}

.img-box {
    position: absolute;
    inset: 8px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    overflow: hidden;
}

/* ====== swipper slider CSS ======*/
.swiper {
    width: 100%;
  }

  .swiper-slide {
    text-align: center;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 2rem 0;
  }

  .swiper-slide img {
    display: block;
    width: 15rem;
    object-fit: cover;
  }


/* ====== Keyframes ====== */
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ====== Media Queries ====== */
@media (min-width: 43rem) {
    body {
        font-size: 1.13rem;
        font-weight: 400;
    }

    h2 {
        font-size: 1.5rem;
    }

    .section__padding,
    .section-hero {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .hero__section-h1 {
        font-size: 1.8rem;
    }
    
    .figure-container {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
        margin-top: 2rem;
    }
    
    .icon-check,
    .icon-target {
        font-size: 1.25rem;
        margin-right: .8rem;
    }
    
    .figcaption {
        font-size: var(--font-large);
    }
    
    .programacao {
        width: 340px;
    }
    
    .programacao-info {
        font-size: 1.3rem;
    }
    
    .section-chamado {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
    .section-chamado h2 {
        font-size: 1.7rem;
    }

    .section-chamado p {
        margin-bottom: var(--mb-3);
    }
    
    .about-container {
        display: flex;
        gap: 80px;
        justify-content: space-evenly;
        padding: 1.9rem 1rem;
    }
    
    .img-criadora {
        width: 200px;
    }
    
    .about-content .about-content-blocks{
        margin-bottom: var(--mb-2);
        font-size: 1.3rem;
    }
    
    .about-article p,
    .bottom-CTA-info p {
        margin-bottom: var(--mb-0-75);
    }
    
    .bottom-CTA {
        padding: 2rem;
    }
    .bottom-CTA-info {
        font-size: 1.7rem;
        word-spacing: 1px;
    }
    
    .bottom-CTA-btn,
    .CTA-link {
        padding: 1.4rem 2.4rem;
        font-size: 1.4rem;
    }
    
    footer {
        text-align: center;
        padding: 2rem 1.2rem;
        background-color: var(--PURPLE);
        color: var(--font-clr-light);
    }




    /*======  wave shape */
.custom-shape-divider-bottom-1660569740 svg {
    height: 81px;
}

/* bottom CTA */
.custom-shape-divider-bottom-1660569750 svg {
    height: 71px;
}

/* ====== profile border animation ====== */
.img-outer-circle {
    width: 180px;
    height: 180px;
}

.img-outer-circle::before {
    inset: 0 60px;
}

/* ====== swipper slider CSS ======*/
.swiper {
    width:60%;
  }

  .swiper-slide img {
    display: block;
    width: 16rem;
    object-fit: cover;
  }
}

@media (min-width: 62rem) {

    body {
        position: relative;
    }
    
    .programacao {
        width: 380px;
    }

    .section-chamado {
        padding: 4rem;
    }
    
    .about-container {
        gap: 40px;
    }
    
    .img-criadora {
        width: 240px;
    }
    
    .about-article p,
    .bottom-CTA-info p {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /*======  wave shape */
.custom-shape-divider-bottom-1660569750 svg {
    height: 71px;
}

.custom-shape-divider-bottom-1660569750 .shape-fill {
    fill: #FDD245;
}

/* ====== swipper slider CSS ======*/
.swiper {
    width:60%;
  }

  .swiper-slide img {
    width: 18rem;
  }
}
